{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>CFC &#x2022; Admission</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{% static '/auth.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static '/style.css' %}">
  <script src="https://kit.fontawesome.com/5ed311e6da.js" crossorigin="anonymous"></script>
</head>
<body>
  <div class="container">
    <input type="checkbox" id="flip">
    <div class="cover">
      <div class="front">
        <img src="{% static '/img/bg/img3.JPG' %}" alt="">

      </div>
      <div class="back">
        <img class="backImg" src="{% static '/img/bg/img3.JPG' %}" alt="">
      </div>
    </div>
    <div class="forms">
        <div class="form-content">
          <div class="login-form">
            <div class="title">Login</div>
          <form action="/signin" method="POST">
            {% csrf_token %}
            <div class="input-boxes">
              <div class="input-box">
                <i class="fas fa-envelope"></i>
                <input type="text" name="username" placeholder="Enter your username" required>
              </div>
              <div class="input-box">
                <i class="fas fa-lock"></i>
                <input type="password" name="password" placeholder="Enter your password" required>
              </div>
              <div class="button input-box">
                <input type="submit" value="Sumbit">
              </div>
              <div class="text sign-up-text">Don't have an account? <label for="flip">Sigup now</label></div>
            </div>
        </form>
      </div>
        <div class="signup-form">
          <div class="title">Signup</div>
        <form action="/signup" method="POST">
          {% csrf_token %}
            <div class="input-boxes">
              <div class="input-box">
                <i class="fas fa-user"></i>
                <input type="text" name="username" placeholder="Enter your name" required>
              </div>
              <div class="input-box">
                <i class="fas fa-envelope"></i>
                <input type="text" name="email" placeholder="Enter your email" required>
              </div>
              <div class="input-box">
                <i class="fas fa-lock"></i>
                <input type="password" name="password" placeholder="Enter your password" required>
              </div>
              <div class="button input-box">
                <input type="submit" value="Sumbit">
              </div>
              <div class="text sign-up-text">Already have an account? <label for="flip">Login now</label></div>
            </div>
      </form>
    </div>
    </div>
    </div>
  </div>
{% for message in messages %}
    <div id="{{message.tags}}">
        <div class="subpartmsg">
            <i class="fa-solid fa-check"></i>
        </div>
        <div class="subpartmsg">
            <p id="msg">{{ message }}</p>
        </div>
        <div class="subpartmsg">
            <i id="cancelms" class="fa-solid fa-xmark"></i>
        </div>
    </div>
{% endfor %}
<script src="{% static 'js/msg.js' %}"></script>

</body>
</html>



